* {
  margin: 0;
  padding: 0;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:link {
  color: white;
  text-decoration: none;
}

.sticky {
  position: sticky;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh);
}

.up{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh);
  overflow: hidden;
  z-index: -5;
}

.first_box{
  z-index: 5;
}


.back {
  width: 100%;
  height: calc(100vh);
  background: #000;
  background: url(/images/002.jpg) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
  overflow: hidden;
  z-index:10;
}

.team_name {
  margin-left: 65%;
  margin-top: -45%;
  font-size: 50px;
  width: 23%;
  background: rgba(1, 19, 67, 0.8);
  border: 2px solid #00a1ff;
  border-radius: 8px;
  color: white;
  text-align: center;
  z-index: 5;
  font-family: "LiSu";
}

.team_words {
  margin-left: 60%;
  margin-top: 5%;
  font-size: 50px;
  width: 31.8%;
  text-align: center;
  background: rgba(1, 19, 67, 0.8);
  border: 2px solid #00a1ff;
  color: white;
  border-radius: 8px;
  z-index: 5;
  font-family: "LiSu";
  padding-left: 1%;
}

.smaller_box {
  width: 25%;
  height: 32%;
  margin-left: 38%;
  margin-top: 18%;
  background-color: rgba(0,0,0, 0.8);
  overflow: hidden;
  border-radius: 30px;
  border: 2px solid #00a1ff;

}

.name {
  color: white;
  text-align: center;
  margin-top: 10%;
  font-size: 30px;
}

.input_box {
  margin-top: 5%;
  text-align: center;
  color: white;
  font-size: 20px;
}

#uname {
  height: 25px;
  border-radius: 20px;
  margin-bottom: 1%;
  padding-left: 3px;
}

#upass {
  height: 25px;
  border-radius: 20px;
  margin-bottom: 1%;
  padding-left: 3px;
}

.register {
  margin-left: 60%;
  margin-top: 3%;
}

.submit_button {
  margin-left: 25%;
  margin-top: 3%;
  width: 50%;
  height: 30px;
  border-radius: 20px;
  background-color: #269bf4;
  color: white;
}
